<html>
<head>
<title>
</title>
</head>
<body>
<br>
<br>
<marquee><font size=6>Welcome to Supergirl's Closet</marquee>
<br>
<br>
<br>
<div id="aboutus">
<p><align=center><h3> This is a second hand product exchange website for girls. <br> We are students from Tsing Hua University. <br> Our group members are: <br>
</h3>
<li> Ana <br>
<li> Amber<br>
<li> Elaine <br>
<li> Karla <br>
 </li>
<br> <span><%= image_tag("intro.gif") %></span>


<img src="">
</body>
</div>
</html>







