<p>Hello, Amber</p>
<P> Message inbox
<p> Choose function</p>
<p><%= link_to 'add', welcome_hi_path %></p>
<p><%= link_to 'edit', welcome_hi_path %></p>
<p><%= link_to 'delete', welcome_hi_path %></p>
